APP_NAME=<SET_VALUE>
APP_ENV=<SET_VALUE>
APP_KEY=<SET_VALUE>
APP_DEBUG=<SET_VALUE>
APP_URL=<SET_VALUE>
APP_LOCALE=<SET_VALUE>
APP_FALLBACK_LOCALE=<SET_VALUE>
APP_FAKER_LOCALE=<SET_VALUE>
APP_MAINTENANCE_DRIVER=<SET_VALUE>
PHP_CLI_SERVER_WORKERS=<SET_VALUE>
BCRYPT_ROUNDS=<SET_VALUE>
LOG_CHANNEL=<SET_VALUE>
LOG_STACK=<SET_VALUE>
LOG_DEPRECATIONS_CHANNEL=<SET_VALUE>
LOG_LEVEL=<SET_VALUE>
DB_CONNECTION=<SET_VALUE>
DB_HOST=<SET_VALUE>
DB_PORT=<SET_VALUE>
DB_DATABASE=<SET_VALUE>
DB_USERNAME=<SET_VALUE>
DB_PASSWORD=<SET_VALUE>
SESSION_DRIVER=<SET_VALUE>
SESSION_LIFETIME=<SET_VALUE>
SESSION_ENCRYPT=<SET_VALUE>
SESSION_PATH=<SET_VALUE>
SESSION_DOMAIN=<SET_VALUE>
BROADCAST_CONNECTION=<SET_VALUE>
FILESYSTEM_DISK=<SET_VALUE>
QUEUE_CONNECTION=<SET_VALUE>
CACHE_STORE=<SET_VALUE>
MEMCACHED_HOST=<SET_VALUE>
REDIS_CLIENT=<SET_VALUE>
REDIS_HOST=<SET_VALUE>
REDIS_PASSWORD=<SET_VALUE>
REDIS_PORT=<SET_VALUE>
MAIL_MAILER=<SET_VALUE>
MAIL_SCHEME=<SET_VALUE>
MAIL_HOST=<SET_VALUE>
MAIL_PORT=<SET_VALUE>
MAIL_USERNAME=<SET_VALUE>
MAIL_PASSWORD=<SET_VALUE>
MAIL_FROM_ADDRESS=<SET_VALUE>
MAIL_FROM_NAME=<SET_VALUE>
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=<SET_VALUE>
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=<SET_VALUE>
VITE_APP_NAME=<SET_VALUE>
OCPP_KEY=<SET_VALUE>
